@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');/**Import de fonts diferentes*/
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css');/**Import de Icons diferentes*/
*{/**Asterisco aplica à todas as imagens da página*/
    margin: 0;/**retira as margens de todos os elementos do site*/
    padding: 0;
    list-style: none;/**Retira os bullets do list item*/
    text-decoration: none;/**Retira o sublinhado*/
}

:root{/**Criar uma variável com o elemento root*/
    --font-primary: "Baloo Da 2", serif;
    --font-secundary: "Josefin Slab 2", serif;
    --font-action: "Muli", serif;
}

.hamburguer{/**Menu hamburguer*/
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;/**Mantem o menu fixo na página*/
    z-index: 100;/**Coloca o menu na frente dos outros elementos*/
    right: 2rem;
    top: 2rem;
    display: flex;/**Linhas do menu*/
    flex-direction: column;/**Espalhar as linhas no menu - uma encima da outra*/
    justify-content: space-evenly;/**Espalhar os elementos para ver como se comportam no menu*/
    cursor: pointer;/**Indica ao usuário uma ação no menu*/
}

.show-menu .hamburguer{/**Todo mundo que estiver dentro(for descendente) do show-menu, vai pegar esta formatação*/
    right: 16rem;
}

.line {
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;/**Deslocamento eixo x, deslocamento eixo y, quanto vai borrar (Blur), cor da sombra*/
    transition: transform 1s;/**Em todas as linhas, quando for aplicada uma transformação, vai durar 1 segundo*/
}

.show-menu #line1{
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #line2{/*Quando a linha 1 aparecer a linha 2 desaparece*/
    opacity: 0;
    visibility: hidden;
}

.show-menu #line3{
    transform: rotate(-45deg) translate(.3rem, -.45rem);
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    color: #ffffff;
    font-family: var(--font-action);
    opacity: 0;/**Por padrão não mostra*/
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #a044ff;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparentf;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;/**Só aparece se o manu estiver ativo (aberto) e o mousa sobre ele*/
}

header{
    width: 100%;
    height: 100vh;/**vh: view height - Altura da visualição*/
    overflow: hidden;/**Desabilitar o Overflow evita que o cabeçalho passar o tamanho da janela gerando barra de rolagem horizontal*/
    position: relative;/**Permite colocar o banner (texto) em qualquer posição dentro do header*/
}

.img-wrapper{/**Encapsulamento - Envelopamento*/
    /**ponto significa que está apontando para uma classe*/
    /**esta classe .img.wrapper está dentro do header e vai ocupar 100% da largura e da altura*/
    width: 100%;
    height: 100%;
    overflow: hidden;/**Desabilitar o Overflow evita que o cabeçalho passar o tamanho da janela gerando barra de rolagem horizontal*/
    background-color: rgba(0,0,0,0.8);
}
.img-wrapper img{/**Usa a classe ao inves da ID para formatar a imagem*/
    width: 100%;/**Obriga a imagem à usar a mesma formatação do componente Pai que é a classe img.wrapper*/
    height: 100%;
    object-fit: cover;/**Como a imagem não está na página como elemento e sim envelopada no img-wrapper e o object-fit vai especificar com este elemento vai ser colocado na página. Cover vai cobrir totalmente a div com a imagem*/
    opacity: 0.5;
    animation: zoom 25s;
    /**name duration timing-function delay iteration-count direction fill-mode;*/
}
@keyframes zoom{/**São quadros - chaves da animação - Faz a primeira e último quadro e software faz o restante*/
    0%{/**Quadro inicial*/
        transform: scale(1.5);/**Vai dar um zoom no background*/
    }
    100%{
        transform: scale(1);/**Imagem volta para 100%*/
    }
}
.banner {
    position: absolute;/**Posiciona o texto*/
    top: 30%;
    left: 15%;
}
.banner h1{
    color: #ffffff;
    font-size: 3.5rem;/**Se usar tamanho em pixel usuário não pode aumentar o tamanho*//**Pode usar (1em) ou (1rem) que é relativa vai mudar conforme usuário alterar no site*/
    font-family: var(--font-primary);
    font-weight: 200;/**Diminuir o negrito*/
    text-shadow: .3rem .4rem 2px rgba(0, 0, 0, .4);/**Propriedades: Distancia à direita(.2rem), distancia abaixo(.4rem), blur(2px) (sombra embaçada)  e cor da fonte(rgba(0,0,0,.4)*/
    line-height: 3.5rem;/**Espaçamento entre as linhas do texto*/
    margin-bottom: 2rem;/**Espaçamento entre o texto abaixo*/
    opacity: 0;/**O texto na animação não aparece no inicio*/
    animation: movebanner 1s 0.5s forwards;/**Faz a animação do texto entrar com delay de 0.5segundos*/

}
.banner p{
    font-family: var(--font-secundary);
    color: #ffffff;
    font-size: 2rem;
    text-shadow: .2rem .2rem rgba(0, 0, 0, .4);
    margin-bottom: 2rem;/**Espaçamento para o botão abaixo*/
    opacity: 0;/**O texto na animação não aparece no inicio*/
    animation: movebanner 1s 0.7s forwards;/**Faz a animação do texto entrar com 0.7segundos*/
}
.banner button{
    font-family: var(--font-action);
    color: #ffffff;
    /**font-size: 1.2rem; - Aumentar o tamanho da fonte*/
    text-transform: uppercase;/**Transformar em letras maiúsculas*/
    letter-spacing: .1rem;/**Espaço entre as letras*/ 
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /**padding-top: 1rem; - Colocar margem interna no botão
    padding-bottom: 1rem;
    padding-left: 2rem;*/
    padding: 1rem 3rem;/**1rem equivale à 16pixels(16px)*/
    border: none;
    border-radius: 5px;/**Arrendodamento (Suavidade) da borda*/
    cursor: pointer;/**Indica ao usuário uma ação no botão*/
    opacity: 0;/**O texto na animação não aparece no inicio*/
    animation: movebanner 1s 0.9s forwards;/**Faz a animação do texto entrar com delay de 0.9segundos*/
}
.banner button:hover{/**Pseudo classe hover indica animação*/
    opacity: 0.8;/**Indica interação (dá uma apagadinha no botão)*/
    color: #000;/**Muda a cor da fonte para preto*/
}
@keyframes movebanner{/**Cria animação no texto*/
    0%{
        transform: translatey(10rem) rotatey(-30deg);/**Inicio da animação*/
    }
    100%{
        transform: translatey(0) rotatey(0);/**Final da animação*/
        opacity: 1;/**Animação do texto aparece no final da animação*/
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;/**Joga o menu fora da tela*/
    transition: all 1s;/*Coloca animação na entra/saida do menu lateral*/
}

.show-menu .sidebar{
    right: 0;/**Se o elemento sidebar tiver também o show-menu, a posição dele vai ser 0 (inicial)*/
}

.menu{/**Este é a DIV*/
    position: absolute;/**Terá posição absoluta*/
    top: 40%;/**Desce um pouco na página*/
    left: 50%;/**Coloca mais no meio*/
    transform: translate(-50%, -50%);/**Com relação ao top e left vai ficar no meio*/
}

.menu-item{/**Este é o LI*/
    text-align: center;/**Alinha os textos no centro*/
    margin-bottom: .3rem;/**Espaçamento entre as linhas*/
}

.menu-link{/**Formatar os links*/
    font-family: var(--font-action);
    font-size: 2rem;
    color: #555;
    transition: color 1s;/**Faz com que ao mudar a cor do link demore um pouco mais*/
}
.menu-link:hover{
    color: #6a3093 ;/**Ao clicar com o maouse muda a cor do link*/
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    /*background-color: red;*/
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background-color: #6a3093;
    color: rgba(255,255,255,1);
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;/**Deixa a borda arrendodada*/
    transition: background-color 1s;/**Ao passar o mouse sobre os ícones, muda a cor mais suavemente*/
}

.social-media i:hover{
    background-color: #a044ff;/**Ao passar o mouse nos icones mudam de cor-suavizam*/
}

.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: .5rem;/**Espaço entre as linhas do grid*/
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(2){
    grid-column: 3 / 6;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(3){
    grid-column: 4 / 7;
    grid-row: 5 / -1;
}

.conhecimento:nth-child(4){
    grid-column: 11 / 14;
    grid-row: 1 / 3;
}

.conhecimento:nth-child(5){
    grid-column: 12 / 15;
    grid-row: 3 / 5;
}

.conhecimento:nth-child(6){
    grid-column: 11 / 14;
    grid-row: 5 / -1;
}

.sessao-conhecimentos{
    background-color: #f5f5f5;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{/**Posiciona o título "Conhecimentos"*/
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #4b4b4b;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex; 
    align-items: center;
    color: #4b4b4b;
}

.conhecimento-header i{
    font-size: 2.5rem;
}

.conhecimento-header h3{
    font-family: var(--font-secundary);
    font-size: 2rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-family: var(--font-secundary);
    margin-top: 1rem;
}

.conhecimentos-img-wrapper{/**Determina a posição da imagem*/
    grid-column: 7/11;
    grid-row: 2/6;
    width: 100%;
}

.conhecimentos-img-wrapper img{/**Determina o tamanho da imagem*/
    object-fit: cover;
    width: 100%;
}

.projetos{
    display: flex;
    justify-content: space-evenly;/**Coloca as três imagens justificadas no rodapé*/
}

.card{
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;/**Arredonda as bordas das imagens para suavizar*/
}

.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%; 
    border-radius: .5rem;/**Arredonda as bordas das imagens para suavizar*/   
    opacity: .8;/*Opacidade original*/
    transition: opacity .3s;/*Demora para mudar a opecidade*/
}

.card:hover .card-img-wrapper img{
    opacity: .5;/*Quando passar o mouse no card, a opacidade da imagem muda, fica mais escura*/
}

.card-info{
    opacity: 0;
    visibility: hidden;/*QUando tira o mousa de cima do card desaparece o texto e botão*/
    position: absolute;
    bottom: 0;/**Fica na posição 0 à partir da parte de baixo para cima*/
    padding: 2rem;/**Afasta para a direita*/
    text-shadow: 0.3 0.2rem 0.3rem rgba(0, 0, 0, .6);/**Coloca sombra no card*/
    transition: all .4s;/*QUando passa o mouse no card, o texto e botão sobem ao aparecer*/
 }

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;/**Letra em negrito*/
    color: #eee;
    
}

.card-info h3{
    font-family: var(--font-action);
    font-weight: bolder;/**Letra em negrito*/
    color: #ff4081;
    margin-bottom: 1.5rem;/*Espaçamento entre textos*/
}

.card-info p{
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    
}

.btn{   
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a044ff, #6a3093);
    font-family: var(--font-action);
    font-size: 1.5rem;
    color: #eee;
    border-radius: .5rem;/*Borda arrendodada*/
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
}

.card-info button{   
    width: 8rem;
    height: 2.5rem;    
}

.card:hover .card-info{
    bottom: 1.5rem;
    opacity: 1;
    visibility: visible;/*Quando passa o mouse emcima do car aparace o texto e botão*/
}

.sessao-contatos{
    width: 100%;
    height: 100vh;
    background-color: #242424;
}

.sessao-contatos{
    width: 100%; /*usará toda a largura disponivel da janela(div)*/
    height: 100vh; /*Altura da view port*/
    background-color: #272727;/*Cor de fundo*/
    display: flex; /*Alinha todo o conteudo no centro*/
    align-items: center; /*Alinha no centro da janela(div)*/
    justify-content: center;/*Justifica os conteudos no centro*/
}

.contato-wrapper{
    width: 60%;/*Não us a página toda*/
    height: 30rem; /*Define a altura da imagem*/
    display: flex; /*Coloca um elemento um do lado do outro*/
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.5);/*Faz com que a caixa tenha sobra nas bordas dando a impressão de profundidade*/
}

.contato-left{
    width: 35%;
    background: 
        linear-gradient(rgba(15,15,15,0.6),rgba(22,22,22,0.9)), 
        url(imagens/contato.jpg); /*Linear-gradiente faz com que a imagem vá do cinza escoro para o claro*/
    background-size: cover;/*Imagem cobre toda a div*/
}

.contato-right{
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem;/*Afasta os elementos da margem e determina o tamano da div em caracteres*/
}

.sessao-contatos h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 3rem;/*3 caracteres*/
    font-weight: lighter;
}

.sessao-contatos form{
    width: 100%;
    display: flex;/*Faz com que os campos fiquem um ao lado do outro*/
    flex-direction: column;/*Faz com que os campos fiquem em coluna*/
    align-items: center;/*Alinha todos os campos no centro da div*/
}

.input-group{
    position: relative;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #636363;
    height: 3rem;/*Defina a altura de todos os campos*/
    outline: none;/*Retira a borda do campo quando o cursos está emcima*/
    margin: 2rem 0;/*Faz o espaçamento entre os campos - no superior de 2 e 0 nos demais*/
}

.input-group textarea{
    padding-top: 1rem;
    max-width:  30rem;
    max-height: 5;
}

.field-label{
    position: absolute;/*Faz o texto digitado permanecer dentro do campo*/
    left: 0;/*Coloca o texto digitado à esquerda do campo*/
    top: 1rem;/*Baixa o texto digitado*/
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;/*Transforma o texto(NOME-E-MAIL-MENSAGEM) em letras maiúsculas*/
    transition: 1.3s;
}

.field:focus - label{
    top: 3;
    font-size: 1rem;
}

.field:focus{
    border-bottom: 1px solid;
}

.btn-submit{
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
}

.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background: url("./imagens/orcamento.jpg");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orcamento-wrapper{
    width: 60%;
    height: 80%;
    background-color: #ffffff99;
    border-radius: 10px;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    position: relative;
}

.sessao-orcamento h1{
    position: absolute;
    top: -2.5rem;/*O título vai subir para fora da caixa*/
    left: 2rem;/*Titulo se afasta da borda da caixa*/
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #a044ff, #6a3093);
    padding: 0 3rem;/*aplica zero em cima e embaixo e 3 na direita e esquerda*/
    color: #fff;
    font-family: var(--font-primary);
    font-size: 3rem;
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    border-radius: 10px;
}

.sessao-orcamento form{
    margin: 4rem;/*Afasta o formulário das bordas em direção ao centro*/
    display: grid;
    grid-template-columns: auto 1fr;/*Vai ter duas colunas, a primeira tamanho automatico, de acordo co o conteudo que tiver e a segunda ocupa o restante do espaço*/
    column-gap: 2rem;/*Coloca espaço entre as colunas*/
    row-gap: 2rem;/*COloca espaço entre as linhas*/
}

.sessao-orcamento label{
    font-family: var(--font-secundary);
    font-size: 1.5rem;
    font-weight: bold;    
}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secundary);
    width: 4rem;
    font-size: 2rem;
    outline: none;
    border-radius: 10px;
    border: none;
    padding: 0.3rem;/*Cria espaçamento para não ficar colado à margem*/
    cursor: pointer;
}

.btn-orcamento{
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;
}
